* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.swiper {
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item {
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  float: left;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  color: #ffffff;
}
.hehe,
.xx {
  -webkit-transform: translate3d(-999px, -50%, 0);
  -moz-transform: translate3d(-999px, -50%, 0);
  -o-transform: translate3d(-999px, -50%, 0);
  -ms-transform: translate3d(-999px, -50%, 0);
  transform: translate3d(-999px, -50%, 0);
}
.bear,
.xixi {
  -webkit-transform: translate3d(999px, -50%, 0);
  -moz-transform: translate3d(999px, -50%, 0);
  -o-transform: translate3d(999px, -50%, 0);
  -ms-transform: translate3d(999px, -50%, 0);
  transform: translate3d(999px, -50%, 0);
}
.slide_in {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.item1 {
  background-color: black;
}
.item2 {
  background-color: darkgreen;
}
.item3 {
  background-color: #303030;
}
.item4 {
  background-color: #4285f4;
}